run = "python3 main.py"
modules = ["python-3.11"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[nix]

[workflows]

[[workflows.workflow]]
name = "GET MONEY"
mode = "sequential"
author = 42692233

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --reload"
